.git
.gitignore
.idea/
.vs/
.vscode/
bin/
obj/
artifacts/
TestResults/
*.user
*.suo
*.swp
*.psess
*.vsp
*.vspx
*.nupkg
*.trx
Dockerfile.debug
samples/**/bin/
samples/**/obj/
tests/**/bin/
tests/**/obj/
